<!--Large card-->
<div class="row">
  <div class="col-xs-12">
    <div class="large-card">
      <app-large-card
      [name]="userDetail.name"
      [position]="userDetail.position"
      [education]="userDetail.education"
      [location]="userDetail.location"
      [phone]="userDetail.phoneNumber"
      [email]="userDetail.email"
      [image]="userDetail.image"
      [about]="userDetail.about"
      [credentials]="userDetail.credentials"
      [focus]="userDetail.focus"
      [experience]="userDetail.experience"
      [rate]="userDetail.rate">
      </app-large-card>
    </div>
  </div>
</div>
