.s4y-header{
  &-logo{
    width: 100px;
    height: 100px;
    text-align: center;
  }
}

// app-small-card{
//   margin: 5px;
// }

.small-card{
  &-hover{
    width: 100%;
    height: auto;
    text-decoration: none;
    cursor: pointer;
    color: var(--s4y-color-black);
    margin: 10px 0px 10px 0px;

    :hover ::ng-deep{
      .card{
        box-shadow: 0px 5px 20px 0px darkgray;
    }
    }
  }
}
