<div class="container">
  <div class="card">
    <div class="card-img">
      <img [src]="image" class="img-fluid card-img-top" alt="profile picture">
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ name }} <i class="bi bi-check-circle-fill"></i></h4>
      <h5 class="card-subtitle">{{ position }}</h5>
      <p class="card-sm-desc">{{ education }} <span><i class="bi bi-check-circle-fill"></i></span></p>
      <p class="card-location">{{ location }}</p>
      <p><i class="bi bi-telephone-fill"></i><strong>{{ phone }}</strong></p>
      <p><i class="bi bi-envelope-fill"></i><strong>{{ email }}</strong></p>
      <a href="#" class="card-btn btn btn-primary">Contact</a>
    </div>
  </div>
</div>

