<div class="container">
  <div class="card">
    <div class="card-img">
      <img [src]="image" class="img-fluid card-img-top" alt="profile picture">
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ name }} <i class="bi bi-check-circle-fill"></i></h3>
      <h4 class="card-subtitle">{{ position }}</h4>
      <h5 class="card-sm-desc">{{ education }} <span><i class="bi bi-check-circle-fill"></i></span></h5>
      <h6 class="card-location">{{ location }}</h6>
      <p><i class="bi bi-telephone-fill"></i><strong>{{ phone }}</strong></p>
      <p><i class="bi bi-envelope-fill"></i><strong>{{ email }}</strong></p>
      <a href="#" class="btn btn-primary">Contact</a>
    </div>
  </div>
</div>

