h1,h2,h3,h4,h5,h6{
  margin: 2px;
}
p {
  margin: 2px;
}

i{
  margin: 5px;
}

//Desktop Display width > 770px
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-height: 300px;
  height: auto;
  align-items: center;
  margin: auto;
  overflow: hidden;
  border: none;

  &-img{
    width: auto;
    height: 100%;
    object-fit: contain;
    & img{
      width: 100%;
      height: 100%;
      border-bottom-right-radius: var(--bs-card-inner-border-radius);
    }
  }

  &-title{
    font-weight: 700;
  }

  &-body{
    margin: 1px;
    padding: 5px;
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &-left{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &-right p{
      overflow: hidden;
      white-space: nowrap;
      width: fit-content;
    }
  }

  &-btn{
    margin-top: 15px;
    width: fit-content;
  }
}

.bi{
  float: right;
}
