<div class="container">
  <div class="card">
    <div class="card-img">
      <img [src]="image" class="img-fluid card-img-top" alt="profile picture">
    </div>
    <div class="card-body">
      <div class="card-body-left">
        <h4 class="card-title">{{ name }} <i class="bi bi-check-circle-fill"></i></h4>
        <h5 class="card-subtitle">{{ position }}</h5>
        <p class="card-about">{{ about }}</p>
      </div>
      <div class="card-body-right">
        <p class="card-sm-desc">{{ education }} <span><i class="bi bi-check-circle-fill"></i></span></p>
        <p class="card-location">{{ location }} <span><i class="bi bi-geo-alt-fill"></i></span></p>
        <p><strong>{{ phone }}</strong> <i class="bi bi-telephone-fill"></i></p>
        <p><strong>{{ email }}</strong> <i class="bi bi-envelope-fill"></i></p>
        <a href="#" class="card-btn btn btn-primary">Contact</a>
        <a href="#" class="card-btn btn btn-primary">More Info</a>
      </div>

    </div>
  </div>
</div>

